header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
  background-color: #111;
}

main {
  width: 100%;
}

.content {
  width: 45%;
  padding: 8px 16px;
}
.left {
  
  float: left;
  /* padding: 16px 32px; */
}
.right {
  
  float: right;
  
}

/* <div id="parentContainer" style="width: 100%;">
  <div id="chartContainer1" style="float: left; width: 45%; height: 260px;"></div>
  <div id="chartContainer2" style="float: right; width: 45%; height: 260px;"></div> */